{% extends "base_generic.html" %}

{% block title %}<title>Local Library - {{ book.title }}</title>{% endblock %}

{% block content %}
  <h1>Title: {{ book.title }}</h1>

  <p><strong>Author:</strong> <a href="{% url 'author-detail' book.author.pk%}">{{ book.author }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Summary:</strong> {{ book.summary }}</p>
  <p><strong>ISBN:</strong> {{ book.isbn }}</p> 
  <p><strong>Genre:</strong> 
    {% for genre in book.genre.all %} 
      {{ genre }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </p>
  <div>
    <a href="{% url 'book_update' book.id %}" class="btn btn-light" style="padding: 10px">Edit</a> 
    <a href="{% url 'book_delete' book.pk %}" class="btn btn-light" style="padding: 10px">Delete</a>
  </div>
  
{% endblock %}